.itemBack {
	-fx-pref-height: 108px;
}

.itemBack:hover .categoryItem {
	-fx-background-color: -fx-primary-light;
}

.categoryItem {
	-fx-alignment: TOP-CENTER;
	-fx-padding: 8 8 8 8;
	-fx-background-radius: 12px;
	-fx-background-color: -fx-background-secondary;
	-fx-border-radius: 12px;
}

.itemDescription {
	-fx-min-height: 36px;
	-fx-max-height: 100px;
}