/* Modified version of JAVAFX default colours */
.root {
    -fx-base: transparent;
    -fx-background: transparent;
    -fx-control-inner-background: transparent;
    -fx-dark-text-color: red;
    -fx-mid-text-color: red;
    -fx-light-text-color: red;
    -fx-accent: transparent;/*#0093ff;*/
    -fx-focus-color: transparent;/*#0093ff;*/
    -fx-color: black;
    -fx-disabled-opacity: 0.4;
    -fx-hover-base: transparent;
    -fx-pressed-base: transparent;
    -fx-focused-base: transparent;
    -fx-text-background-color: transparent;
    -fx-text-fill: -fx-color;
    -fx-box-border: transparent;
    -fx-text-box-border: transparent;
    -fx-shadow-highlight-color: transparent;
    -fx-outer-border: transparent;
    -fx-inner-border: transparent;
    -fx-inner-border-horizontal: transparent;
    -fx-inner-border-bottomup: transparent;
    -fx-body-color-bottomup: transparent;
    -fx-text-base-color: -fx-color;
    -fx-text-inner-color: -fx-color;
    -fx-mark-color: green;
    -fx-mark-highlight-color: green;
    -fx-selection-bar: transparent;
    -fx-selection-bar-text: -fx-color;
    -fx-tab-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-cell-hover-color: transparent;/*#cce3f4;*/
    -fx-cell-focus-inner-border: transparent;/*#85b9de;*/
    -fx-page-bullet-border: transparent;/*#acacac;    */
    -fx-page-indicator-hover-border: transparent;/*#accee5;*/

    -fx-font-size: 14px;
    -fx-font-family: 'Montserrat Medium';

    -fx-primary: #2C2C2C;
	-fx-primary-soft: #2C2C2C60;
	-fx-primary-dark: #222222;
    -fx-primary-grey: #e0e0e0;
    -fx-primary-light: #F1EFE3;
    -fx-background-primary: #F8F7F2;
    -fx-background-secondary: #FFFFFF;
    -fx-accent-blue: #A8ADFD;
	-fx-accent-blue-soft: #A8ADFD7F;
    -fx-accent-yellow: #F7D78A;
	-fx-accent-yellow-soft: #F7D78A7F;
    -fx-accent-green: #C7D0BD;
	-fx-accent-green-soft: #C7D0BD7F;
    -fx-accent-red: #F78A8A;
	-fx-accent-red-soft: #F78A8A7F;
}

#rootPane {
    -fx-background-color: -fx-background-primary;
    /* -fx-background-color: -fx-accent-yellow-soft; */
}

* {
    -fx-font-family: 'Montserrat Medium';
    -fx-background-color: transparent;
    -fx-text-fill: -fx-primary;
    /* -fx-border-color: #00000022; */
}

#title, #title * {
    -fx-font-size: 32px;
    -fx-font-family: 'Montserrat Black';
    -fx-font-weight: 800;
    -fx-text-fill: -fx-accent-yellow;
}

.icon {
    -fx-padding: 8 0 0 8;
    -fx-pref-width: 38px;
    -fx-pref-height: 24px;
    -fx-font-size: 26px;
    -fx-alignment: CENTER-LEFT;
    -fx-font-family: 'bootstrap-icons';
    -fx-text-fill: -fx-primary;
}

/* Round border */
.window-round-corners {
    -fx-background-radius: 48 48 48 48;
    -fx-border-radius: 48 48 48 48;
}

.window-bar {
    -fx-padding: 8 8 0 0;
}

.window-bar .icon {
    -fx-pref-width: 60px;
    -fx-font-size: 22px;
    -fx-padding: 16 16 8 8;
    -fx-alignment: CENTER-RIGHT;
}

.window-bar .icon:hover {
    -fx-cursor: hand;
    -fx-text-fill: -fx-accent-red;
}

.alert, .text-input-dialog {
	-fx-background-color: -fx-background;
	-fx-padding: 32px;
	/* -fx-background-radius: 48 48 48 48;
    -fx-border-radius: 48 48 48 48; */
}

.alert .button, .text-input-dialog .button {
	-fx-background-radius: 8px;
	-fx-alignment: CENTER;
	-fx-padding: 8 8 8 8;
	-fx-cursor: hand;
}

.alert .button *, .text-input-dialog .button * {
	-fx-font-family: 'Montserrat SemiBold';
}

.alert .label, .text-input-dialog .label {
	-fx-padding: 8 8 8 8;
}

.alert .button:hover, .text-input-dialog .button:hover {
	-fx-background-color: -fx-primary-grey;
}

.text-input-dialog .text-field {
	-fx-background-color: -fx-background-primary;
	-fx-background-radius: 16px;
	-fx-border-color: -fx-primary-soft;
	-fx-border-width: 2px;
	-fx-border-radius: 16px;
	-fx-padding: 12px;
	-fx-prompt-text-fill: -fx-primary-soft;
	-fx-cursor: text;
}

.separator .line {
    -fx-border-width: 1px;
	-fx-border-color: -fx-primary-light;
}

#tabTitleArea {
	
}

#tabTitleArea #tabTitle * {
	-fx-font-size: 20px;
	-fx-font-family: 'Montserrat Bold';
}

#tabTitleArea #tabSubtitle {
	-fx-font-size: 16px;
	-fx-text-fill: -fx-primary-soft;
	-fx-font-family: 'Montserrat SemiBold';
}