/* Modified version of JAVAFX default colours */
.root {
    -fx-base: transparent;
    -fx-background: transparent;
    -fx-control-inner-background: transparent;
    -fx-dark-text-color: red;
    -fx-mid-text-color: red;
    -fx-light-text-color: red;
    -fx-accent: transparent;/*#0093ff;*/
    -fx-focus-color: transparent;/*#0093ff;*/
    -fx-color: black;
    -fx-disabled-opacity: 0.4;
    -fx-hover-base: transparent;
    -fx-pressed-base: transparent;
    -fx-focused-base: transparent;
    -fx-text-background-color: transparent;
    -fx-text-fill: -fx-color;
    -fx-box-border: transparent;
    -fx-text-box-border: transparent;
    -fx-shadow-highlight-color: transparent;
    -fx-outer-border: transparent;
    -fx-inner-border: transparent;
    -fx-inner-border-horizontal: transparent;
    -fx-inner-border-bottomup: transparent;
    -fx-body-color-bottomup: transparent;
    -fx-text-base-color: -fx-color;
    -fx-text-inner-color: -fx-color;
    -fx-mark-color: green;
    -fx-mark-highlight-color: green;
    -fx-selection-bar: transparent;
    -fx-selection-bar-text: -fx-color;
    -fx-tab-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-cell-hover-color: transparent;/*#cce3f4;*/
    -fx-cell-focus-inner-border: transparent;/*#85b9de;*/
    -fx-page-bullet-border: transparent;/*#acacac;    */
    -fx-page-indicator-hover-border: transparent;/*#accee5;*/

    -fx-font-size: 14px;

    -fx-primary: #2C2C2C;
	-fx-primary-soft: #2C2C2C60;
    -fx-primary-grey: #e0e0e0;
    -fx-primary-light: #F1EFE3;
    -fx-background-primary: #F8F7F2;
    -fx-background-secondary: #FFFFFF;
    -fx-accent1: #A8ADFD;
	-fx-accent1-soft: #A8ADFD7F;
    -fx-accent2: #F7D78A;
	-fx-accent2-soft: #F7D78A7F;
    -fx-accent3: #C7D0BD;
	-fx-accent3-soft: #C7D0BD7F;
    -fx-accent4: #F78A8A;
	-fx-accent4-soft: #F78A8A7F;
}

/* Authentication Window */
.tab-pane:top .tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: -fx-primary-light;
    -fx-background-radius: 20px;
}

.tab-pane:top .tab-header-area:hover {
    -fx-cursor: hand;
    -fx-background-color: -fx-primary-grey;
}

* {
    -fx-font-family: 'Montserrat-Medium';
    -fx-background-color: transparent;
    /* -fx-border-color: #00000022; */
}

.root-pane {
    -fx-background-color: -fx-background-primary;
}

.tab, .tab-label {
    -fx-padding: 0;
    -fx-background-radius: 20px;
    -fx-pref-width: 152px;
    -fx-pref-height: 50px;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-primary;
    /* -fx-font-family: 'Montserrat-SemiBold'; */
    -fx-font-weight: 700;
    -fx-font-size: 16px;
    -fx-alignment: CENTER;
}

.tab:selected {
    -fx-background-color: -fx-primary;
}

.tab:selected .tab-label {
    -fx-text-fill: -fx-primary-light;
}

.authenticationLabels {
	-fx-text-fill: -fx-primary;
	-fx-padding: 0 8 0 8;
}

.errorMessage {
	-fx-text-fill: -fx-accent4;
    -fx-padding: 0 8 0 8;
    -fx-font-size: 12px;
}

.inputBackground {
	/* -fx-background-color: -fx-accent1-soft; */
	-fx-background-radius: 20px;
	-fx-pref-height: 54px;
}

.inputBox {
	-fx-background-color: -fx-background-primary;
	-fx-background-radius: 16px;
	/* -fx-border-color: -fx-accent1; */
	-fx-border-color: -fx-primary-soft;
	-fx-border-width: 2px;
	-fx-border-radius: 16px;
	-fx-padding: 12px;
	-fx-prompt-text-fill: -fx-primary-soft;
	-fx-cursor: text;
}

.buttonWithIcon {
    -fx-pref-height: 40px;
    -fx-padding: 0 32 0 44;
    -fx-background-color: -fx-primary;
    -fx-background-radius: 16px;
}

.buttonWithIcon * {
    -fx-text-fill: -fx-primary-light;
    -fx-font-weight: 700;
}

.icon {
    -fx-padding: 8 0 0 8;
    -fx-pref-width: 38px;
    -fx-pref-height: 24px;
    -fx-font-size: 26px;
    -fx-alignment: CENTER;
    -fx-font-family: 'bootstrap-icons';
}

#profilePicPicker {
    -fx-background-color: -fx-primary-light;
    -fx-background-radius: 32px;
    -fx-border-color: -fx-primary-grey;
    -fx-border-radius: 32px;
    -fx-border-width: 4px;
    -fx-border-style: dashed;
}

#profilePicPicker:hover {
    -fx-background-color: -fx-accent1-soft;
    -fx-border-color: -fx-accent1;
    -fx-cursor: hand;
}

#profilePicPicker * {
    -fx-text-fill: -fx-primary-soft;
    -fx-padding: 0;
}

/* Round border */
.window-round-corners {
    -fx-background-radius: 32 32 32 32;
    -fx-border-radius: 32 32 32 32;
}