
.inputFieldLabels {
	-fx-text-fill: -fx-primary;
	-fx-padding: 0 8 0 8;
}

.errorMessage {
	-fx-text-fill: -fx-accent-red;
    -fx-padding: 0 8 0 8;
    -fx-font-size: 12px;
}

.inputBackground {
	-fx-background-radius: 20px;
	-fx-pref-height: 54px;
}

.inputBox {
	-fx-background-color: -fx-background-primary;
	-fx-background-radius: 18px;
	-fx-border-color: -fx-primary-soft;
	-fx-border-width: 2px;
	-fx-border-radius: 16px;
	-fx-padding: 12px;
	-fx-prompt-text-fill: -fx-primary-soft;
	-fx-cursor: text;
}

.buttonWithIcon {
    -fx-cursor: hand;
    -fx-pref-height: 40px;
    -fx-padding: 0 32 0 44;
    -fx-background-color: -fx-primary;
    -fx-background-radius: 18px;
}

.buttonWithIcon * {
    -fx-text-fill: -fx-primary-light;
    -fx-font-weight: 700;
    -fx-font-family: 'Montserrat Bold';
}

.inputBoxNoPadding {
	-fx-padding: 0 0 0 12;
}

.iconInInputField {
	-fx-min-height: 44;
	-fx-min-width: 44;
	-fx-padding: 6 0 0 0;
	-fx-font-size: 20px;
}

.dottedButton {
    -fx-background-color: -fx-primary-light;
    -fx-background-radius: 8px;
    -fx-border-color: -fx-primary-grey;
    -fx-border-radius: 8px;
    -fx-border-width: 1px;
}

.dottedButton:hover {
    -fx-background-color: -fx-accent-blue-soft;
    -fx-border-color: -fx-accent-blue;
    -fx-cursor: hand;
}

.dottedButton * {
    -fx-text-fill: -fx-primary;
    -fx-padding: 0;
	-fx-font-size: 12px;
}

.dottedButton .icon {
	-fx-pref-width: 24px;
	-fx-alignment: BOTTOM-CENTER;
}

.dottedButton .icon * {
	-fx-font-size: 14px;
}

#bigAddButton {
	-fx-border-color: -fx-primary;
	-fx-border-width: 2px;
	-fx-cursor: hand;
	-fx-background-radius: 24px;
	-fx-border-radius: 24px;
}

#bigAddButton:hover {
	-fx-background-color: -fx-primary;
}

#bigAddButton:hover .label {
	-fx-text-fill: -fx-primary-light;
}

.itemIcon {
	-fx-min-height: 36px;
	-fx-min-width: 36px;
	-fx-font-family: 'bootstrap-icons';
	-fx-alignment: BOTTOM-CENTER;
	-fx-font-size: 22px;
	-fx-background-radius: 14px;
	-fx-cursor: hand;
}

.itemIcon:hover {
	-fx-opacity: 1;
	-fx-background-color: -fx-accent-blue-soft;
	-fx-text-fill: -fx-accent-blue;
}

.combo-box, .combo-box-popup {
	-fx-cursor: hand;
	-fx-background-radius: 8px;
}

.combo-box-popup, .combo-box-popup .list-view {
	-fx-background-color: -fx-background-primary;
}

.combo-box-popup .list-cell {
    -fx-pref-height: 40px;
	-fx-padding: 4px;
	-fx-border-insets: 0 4px 0 4px;
	-fx-border-color: -fx-accent-blue;
	-fx-border-width: 0 0 1 0;
	-fx-cursor: hand;
}

.combo-box-popup .list-cell:hover {
	-fx-background-color: -fx-primary-light;
	-fx-cursor: hand;
}

.combo-box-popup .list-view {
	-fx-background-radius: 8px;
	-fx-border-radius: 8px;
	-fx-border-color: -fx-accent-blue;
	-fx-border-width: 2px;
    -fx-fixed-cell-size: 40px;
	-fx-pref-height: 200px;
	-fx-pref-width: 200px;
}

.combo-box-popup .scroll-bar {
	-fx-pref-width: 12px;
}

.combo-box-popup .scroll-bar .thumb {
	-fx-background-color: #00000010;
}

.combo-box-popup .scroll-bar:vertical .thumb {
    -fx-background-color: #00000040;
	-fx-max-width: 4px;
    -fx-background-insets: 4px;
    -fx-background-radius: 0.5em;
}

#expenseDateBack > * {
	-fx-cursor: hand;
}

/* .date-picker * {
	-fx-border-color: #00000022;
} */

.date-picker-popup {
	-fx-background-color: -fx-background-primary;
	-fx-background-radius: 8px;
	-fx-border-radius: 8px;
	-fx-border-color: -fx-accent-blue;
	-fx-border-width: 2px;
}

.date-picker-popup * {
	-fx-alignment: CENTER;
}

.date-picker-popup .month-year-pane, .date-picker-popup .grid-calendar {
	-fx-padding: 4px;
}

.date-picker-popup .month-year-pane *, .date-picker-popup .day-name-cell * {
    -fx-font-family: 'Montserrat SemiBold';
}

.date-picker-popup .day-name-cell, .date-picker-popup .day-cell {
	-fx-border-color: -fx-accent-blue;
}

.date-picker-popup .day-cell:hover {
	-fx-cursor: hand;
	-fx-background-color: -fx-accent-blue-soft;
}

.date-picker-popup .left-arrow {
	-fx-shape: "M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0";
}

.date-picker-popup .right-arrow {
	-fx-shape: "M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708";
}

.date-picker-popup .spinner .button {
	-fx-background-radius: 8px;
	-fx-min-width: 32px;
	-fx-pref-width: 32px;
	-fx-max-width: 32px;
	-fx-min-height: 32px;
	-fx-pref-height: 32px;
	-fx-max-height: 32px;
}

.date-picker-popup .spinner .button:hover {
	-fx-background-color: -fx-accent-blue-soft;
	-fx-cursor: hand;
}

.date-picker-popup .left-arrow, .date-picker-popup .right-arrow {
	-fx-min-width: 16px;
	-fx-pref-width: 16px;
	-fx-max-width: 16px;
	-fx-min-height: 16px;
	-fx-pref-height: 16px;
	-fx-max-height: 16px;
	-fx-background-color: -fx-primary;
	-fx-scale-shape: false;
}

.date-picker-popup .button:hover .left-arrow, .date-picker-popup .button:hover .right-arrow {
	-fx-background-color: -fx-accent-blue;
}

.eye {
	-fx-padding: 0 0 4 0;
}