#sideBar {
    -fx-background-color: -fx-primary;
}

#sideBar * {
	-fx-text-fill: -fx-primary-light;
}

#title, #title * {
	-fx-text-fill: -fx-accent-yellow;
    -fx-font-size: 16px;
}

#userArea {
	-fx-background-color: #00000017;
    -fx-background-radius: 32px;
    -fx-cursor: hand;
}

#userArea * {
    -fx-font-size: 14px;
}

#fullName * {
    -fx-font-size: 18px;
}

#userArea:hover {
    -fx-background-color: -fx-accent-yellow-soft;
}

#profilePicPane {
    -fx-background-radius: 55px;
    -fx-border-radius: 55px;
    -fx-border-color: -fx-primary-dark;
    -fx-border-width: 2px;
}

.sideBarItem {
	-fx-alignment: CENTER-LEFT;
	-fx-cursor: hand;
}

.sideBarItem * {
	-fx-fill: -fx-primary-light;
}

.sideBarItem .rectangle {
	-fx-fill: transparent; /*-fx-primary-light;*/
	-fx-arc-height: 0;
	-fx-arc-height: 0;
	-fx-stroke-width: 0;
}

.sideBarItem .icon * {
	-fx-font-size: 20px;
}

.sideBarItem:hover {
	-fx-background-color: -fx-primary-dark;
}

.sideBarItem:hover .label * {
	-fx-fill: -fx-accent-yellow;
}

.smallArrow * {
	-fx-fill: transparent;
}

.sideBarItem:hover .smallArrow * {
	-fx-fill: -fx-accent-yellow;
}

.selectedSideBarItem .label * {
	-fx-fill: -fx-accent-yellow;
}

.selectedSideBarItem .smallArrow * {
	-fx-fill: transparent;
}

.selectedSideBarItem .rectangle {
	-fx-fill: -fx-accent-yellow;
}

#logOutArea {
	-fx-background-radius: 32px;
	-fx-cursor: hand;
}

#logOutArea:hover {
	-fx-background-color: -fx-accent-red-soft;
}

#sideTab {
	-fx-background-color: -fx-background-secondary;
}